.select-with-add,
.select {
  border: 1px solid var(--neutral-light);
  border-radius: var(--border-8);
  background: var(--white);
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid var(--steel-blue);
  }

  [class~="p-dropdown"] {
    border: 0;
    width: calc(100% - 40px);
  }

  .add-button {
    width: 40px;
    height: 42px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;

    i {
      font-size: 12px;
      color: var(--neutral);
    }

    &:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: var(--neutral-light);
      left: 0;
    }
  }
}

.select {
  display: flex;
  position: relative;

  [class~="p-dropdown"] {
    border: 0;
    width: 100%;
    padding-left: 40px;
    background: none;
  }

  .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;

    i {
      font-size: 14px;
      color: var(--neutral-light);
    }
  }
}

.form {
  .form-action {
    display: flex;
    justify-content: space-between;
  }
}
