.select-with-add-wrapper,
.select-wrapper {
  label {
    font-size: 12px;
    color: var(--aluminum-blue);
    display: block;
    margin-bottom: 6px;
  }
}

.select-with-add,
.select {
  border: 1px solid var(--neutral-light);
  border-radius: var(--border-8);
  background: var(--white);
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    border: 1px solid var(--steel-blue);
  }

  [class~="p-dropdown"] {
    height: 42px;
    border: 0;

    &[class~="p-focus"] {
      box-shadow: none;
      outline: 1px solid var(--steel-blue);
    }
  }

  .add-button {
    width: 40px;
    height: 42px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;

    i {
      font-size: 12px;
      color: var(--neutral);
    }

    &:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: var(--neutral-light);
      left: 0;
    }
  }
}

.select {
  display: flex;

  [class~="p-dropdown"] {
    border: 0;
    width: 100%;
    padding-left: 40px;
    background: none;
  }

  .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;

    i {
      font-size: 14px;
      color: var(--neutral-light);
    }
  }
}

.select-with-add {
  display: flex;

  .select-wrapper {
    width: calc(100% - 40px);
  }
}

.select-no-icon {
  &.select-error {
    [class~="p-dropdown"] {
      border-color: var(--warning);
    }
  }
}

.form {
  .form-action {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .error-code {
    font: 400 12px var(--main-font);
    color: var(--warning);
    margin-bottom: 10px;
  }
}

.select-error {
  position: relative;
  border-color: var(--warning);
}
