.validation-image {
  position: absolute;
  right: 15px;
  top: 15px;
  pointer-events: none;

  img {
    width: 15px;
  }

  &-icon {
    right: 50px;
  }

  &-left-icon {
    right: auto;
    left: 15px;
  }

  &-double-icon {
    right: 80px;
  }
}

.validation-text {
  flex: 0 0 100%;
  width: 100%;
  font-size: 12px;
  color: var(--warning-dark);
  margin: 8px 0 0;

  p {
    margin: 0;
  }
}
