.accordion {
  position: relative;

  [class~="p-accordion"] {
    box-shadow: var(--shadow-accordion);
    border-radius: var(--border-8);
    background: var(--white);
    border: 1px solid transparent;

    [class~="p-accordion-tab"] {
      [class~="p-accordion-header-link"] {
        border: 0;
        background: none;
        font: 700 14px var(--main-font);
        color: var(--steel-blue);
        padding: 12px 15px;

        [class~="p-accordion-toggle-icon"] {
          order: 2;
          font-size: 14px;
          background: var(--grey-1);
          color: var(--steel-blue);
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: var(--border-50);
        }
      }

      [class~="p-accordion-content"] {
        padding: 0 15px 15px;
        background: none;
        border: none;
        font-size: 12px;
      }
    }
  }

  &-error {
    [class~="p-accordion"] {
      border-color: var(--warning);
    }
  }
}
